<h1> 'Yo Link Faves!' </h1>
<p><%= link_to 'New post', new_post_path %></p>
<% @posts.each do |post| %>
  <h2>Website:<%= post.title %></h2>
  <h3>URL:<%= post.url %></h3>
  <h3>Votes:<%= post.vote %></h3>
  <%= link_to 'Show Post', post_path(post) %>
  <%= link_to 'Edit post', edit_post_path(post) %>
  <%= link_to 'Destroy post', post, method: :delete %>
  <%= link_to 'UpVote!', posts_vote_path(id: post.id) %>
<% end %>